{% extends "::basePublic.html.twig" %}


{% block title %}Client {{parent()}}{% endblock %}
    {% block stylesheets %} 
        {{ parent() }}
    {% endblock %}

    {% block jumbotron %}

<style>
      th{font-weight: bold;}
    
</style>

<div class="col-lg-12">
    <h1>Contact</h1>

    
    


<script>
    
    
    
</script>
    
    
</div>
    {% endblock %}