<form id="formP" >
    <div class="form-group">
        <div class="input-group" style="">
           {{form_widget(form.montant, { 'attr': {'class': 'form-control'} })}}
           <span class="input-group-addon">€</span>
        </div>
        {{form_row(form.moyenPaiement)}}
        <div style="display :none ">
            {{form_rest(form)}}
        </div>

            <div class="btn-group btn-group-justified">
                 <a class="btn btn-info" id="validePaiement" role="button">
                     Valider paiement
                 </a>

            </div>
    </div>
<form>