{% extends "::baseGestion.html.twig" %}


{% block title %}index default {{parent()}}
{% endblock %}
{% block stylesheets %} 
    {{ parent() }}
{% endblock %}

{% block jumbotron %}
<div class="col-lg-12">
    
    <div class="row">
        
        
        
        
     
            
    </div>
    


</div>

{% endblock %}